@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
.block1 {
  width: 175px;
  height: 175px;
  margin: 25px;
  border: 4px solid rgb(214, 67, 67);
  border-radius: 10px;
  border-style: outset;
  border-top-color: blue;
  border-bottom-color: blueviolet;
  border-left-color: red;
  border-right-color: grey;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
figure {
  width: 200px;
  height: 200px;
  background-color: green;
  color: black;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 20px;
}
h2 {
  transition: 0, 2s;
  transform: rotateY(20px);
  font-family: "Train One", cursive;
  font-size: 25px;
}
p {
  transition: 0.2s;
  transform: rotateY(-20px);
  opacity: 0;
}
a {
  transition: 0.4s;
  transform: rotateY(-20px);
  font-size: 20px;
  color: red;
  font-family: "New Tegomin", serif;
}

figure::before {
  content: "";
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  border-top: solid 3px;
  border-bottom: solid 3px;
  transition: 0.4s;
  transform: scaleX(0);
  border-radius: 5px;
  box-shadow: 1px 2px 3px black;
}
figure:hover::before {
  transform: scale(1);
}
figure::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  border-left: solid 3px;
  border-right: solid 3px;
  transition: 0.4s;
  transform: scaleY(0);
  border-radius: 5px;
}
figure:hover::before,
figure:hover::after {
  transform: scale(1);
}
figure:hover h2,
figure:hover p {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  text-shadow: 1px 1px 2px black;
  transition: 0.4s;
  box-shadow: 1px 2px 3px green;
}
.container2 {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid black;
  margin: 40px;
  display: flex;
}
.container2::after {
  content: ".";
  position: relative;
  right: -45px;
  top: 100px;
  font-weight: 900;
  font-size: 10px;
}
